$font-size: 10px;
$border-radius: 5px;

$white: #ffffff;
$black: #000000;
$gray: #efefef;

$bg: $white;
$bg-b: #1D51B3;
$fg: $black;
$fg-b: $white;

$accent-a: #ff6f69;
$accent-b: #ffcc5c;

$logo: #bfbfbf;

$button-bg: $gray;
$button-fg: #4c4c4c;
$button-shadow: 0 4px 6px 0 #00000042;
