$font-size: 12px;
$border-radius: 5px;

$white: #ffffff;
$black: #000000;
$gray: #efefef;
$dark-gray: #4c4c4c;
$darker-gray: #2b2b2b;

$bg: $white;
$bg-b: #1D51B3;
$fg: $black;
$fg-b: $white;

$accent-a: #ff6f69;
$accent-b: #ffcc5c;

$logo: #bfbfbf;
$logo-copy: #afafaf;

$button-bg: $gray;
$button-fg: $dark-gray;
$button-shadow: 0 4px 6px 0 #00000042;
