$font-family: 'Calibri', 'Arial', sans-serif;
$font-size: 12px;
$border-radius: 5px;

$white: #ffffff;
$black: #000000;
$gray: #efefef;
$dark-gray: #4c4c4c;
$darker-gray: #2b2b2b;

$bg: $white;
$bg-b: #1D51B3;
$fg: $black;
$fg-b: $white;

$accent-a: #ff6f69;
$accent-b: #ffcc5c;

$logo: #bfbfbf;
$logo-copy: #afafaf;

$button-bg: $gray;
$button-fg: $dark-gray;

$button-shadow: 0 3px 5px 0 #00000032;
$shadow-normal: 0 3px 5px 0 #00000032;
$libplus-box-shadow: 0 3px 6px 0px #00000042;
$libplus-page-box-shadow: 0 3px 6px 2px #00000032;
