<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>LibPLUS</title>
</head>
<body>

<%
var tmpl = _.template(require('./libplus-page.html'));
var data = {
leftBoxContent: "4.44",
rightBoxContent: "123",
};
%>

<div class="bg">

    <div id="Libplus">
        <%= tmpl(data) %>
    </div>
</div>

</body>
</html>
